ul{
    list-style: none;

}

li {
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.header-nav {
    display: flex;
    justify-content: space-around;
}  


.menu-list{
    padding-top: 3.5%;
    font-size: 120%;
}

.logo {
    padding-top: 4%;
}

.contact-list{
    padding-top: 3%;
}

.contact-img{
    width: 30%;
    height: 30%;
}